{% extends 'base.html' %}
<script>
{% block jquery %}
var clientToken = "{{ client_token }}"

braintree.setup(clientToken, "dropin", {
    container: "payment-form"
})
{% endblock %}    
</script>
{% block title %}
Checkout | {{ block.super }}
{% endblock %}
{% block content %}
{{ client_token }}
{{ order }}
<div>
	<h1>Checkout - Your order</h1>
	{% include 'orders/order_summary_short.html' with object=order %}
</div>
<form action="{% url 'checkout_final' %}" method="POST">
	{% csrf_token %}
	<div id="payment-form"></div>
	<input type="submit" value="Complete Order">
</form>

<form action="/checkout" method="POST" id="checkout">
	<input type="submit" value="Pay $10">
</form>
{% endblock %}

