{% extends 'base.html' %}
{% block title %} 
Videos List | {{ block.super }}
{% endblock %}

{% block content %}

<div>
	{% for course in object_list %}
		<div>
			<a href="{{ course.get_absolute_url }}">Title: {{ course.title }} | {{ course.id }}</a>
		</div>
		<div>
			{% if course.is_owner %} 
			Owned 
			{% else %}
			<button class="btn btn-success"><a style="color:white" href="{{ course.get_purchase_url }}">Purchase it now</a></button>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endblock %}